*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  transition: all 0.6s ease-in;
}


/* body{
  background: #000046;  
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
background: linear-gradient(to right, #1CB5E0, #000046);

} */
body{
  background: #43cea2;  
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  
background: linear-gradient(to right, #185a9d, #43cea2); 


}

.mains{
  padding: 1em;
}

.success{
  margin: 3em auto;
  padding: 1em;
  color: white;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
strong{
  font-size: 1.8em;
  color: white; 
  font-family: cursive;
  padding: 0 5px;
  line-height: 10px;
}

html{
  transition: all 0.6s ease-in;
}

.main{
  margin: 1em auto;
}

.form{
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 1em;
  
  
}
.form button{
  border: none;
  padding: 8px 19px;
 font-size: 1em;
 margin-left: 12px;
 background-color: rgb(5, 194, 241);
  border-radius: 5px;
  margin-bottom: 1rem;
  color: white;
}

.form input{
  padding: 14px 10px;
  margin-bottom: 1rem;
  border-radius: 3px;
  min-width: 40%;
  box-shadow: 0px 0px 2px 0px gray;
  border: none;

}

input:focus{
  outline: none;
}

.check{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-evenly; */
 
}

.check input{
  margin-top: 10px;
  margin-right: 10px;
  min-height: 20%;
}

.check p{
  padding: 5px;
  /* width: 60%; */
}
.todo{
  margin: 1rem auto;
  display: flex;
  /* min-width: 60%; */
  flex-grow: inherit;
  flex-wrap: wrap;
  /* width: 90%; */
  background-color: aliceblue;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 6px 0px gray;
  padding: 0.7rem 0.5rem;
}

span{
  text-align: center;
  color: red;
  font-weight: 400;
  padding: 4px;
}
.btn{
  display: flex;

}
.todo button{
  border: none;
  padding: 0.5rem 1.6rem;
 font-size: 1em;
 margin: 6px;
  border-radius: 5px;
  color: white;

}
.logout{
  display: flex;
  justify-content: space-between;
}
.logout button{
  border: 2px solid white;
  padding: 0.5rem 1.6rem;
 font-size: 1em;
 /* margin: 6px 1em; */
  border-radius: 5px;
  color: white;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  background-color: transparent;
  /* background-color: rgb(5, 194, 241); */
}

.todoCard{
  /* background-color: rgb(216, 234, 250); */
  /* margin:  2em 10em; */
  /* padding: 1.5em 0.5em; */
  /* width: 60%; */
  text-align: center;
  /* box-shadow: 0px 0px 4px 0px gray; */

}

.todoCard h2{
  text-align: center;
  padding: 1.6em;
  font-family: fantasy;
  font-weight: bold;
  color: aliceblue;
  font-size: 1.3em;
  text-transform: uppercase;
}

.todoCard p span{
text-align: center;
  padding: 1em;
  font-family: fantasy;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  /* margin-bottom: 2.6em; */
}
.pending{
  border: none;
  padding: 0.5rem 1.6rem;
 font-size: 1em;
 font-weight: bold;
 margin: 6px;
  border-radius: 5px;
  color: rgb(7, 97, 26);
  /* background-color: rgba(3, 95, 57, 0.897);  */
}
.delete{
  background-color: rgb(233, 44, 44);
}

.not{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
}
