*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html{
  transition: all 0.6s ease-in;
}

.main{
  margin: 1em auto;
}

.form{
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 1em;
  
  
}
.form button{
  border: none;
  padding: 8px 19px;
 font-size: 1em;
 margin-left: 12px;
 background-color: rgb(5, 194, 241);
  border-radius: 5px;
  margin-bottom: 1rem;
  color: white;
}

.form input{
  padding: 14px 10px;
  margin-bottom: 1rem;
  border-radius: 3px;
  width: 40%;
  box-shadow: 0px 0px 2px 0px gray;
  border: none;

}

input:focus{
  outline: none;
}

.check{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-evenly; */
 
}

.check input{
  margin-top: 10px;
  margin-right: 10px;
  min-height: 20%;
}

.check p{
  padding: 5px;
  /* width: 60%; */
}
.todo{
  margin: 2.5rem 3rem;
  display: flex;
  flex-grow: inherit;
  flex-wrap: wrap;
  /* width: 90%; */
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 6px 0px gray;
  padding: 0.7rem 0.5rem;
}


.btn{
  display: flex;

}
.todo button{
  border: none;
  padding: 0.5rem 1.6rem;
 font-size: 1em;
 margin: 6px;
  border-radius: 5px;
  color: white;

}

.logout button{
  border: none;
  padding: 0.5rem 1.6rem;
 font-size: 1em;
 /* margin: 6px 1em; */
  border-radius: 5px;
  color: white;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  background-color: rgb(5, 194, 241);
}

.todoCard{
  /* background-color: rgb(216, 234, 250); */
  margin:  2em 10em;
  padding: 1.5em 0.5em;
  /* width: 60%; */
  text-align: center;
  /* box-shadow: 0px 0px 4px 0px gray; */

}

.todoCard h2{
  text-align: center;
  padding: 1em;
  font-family: fantasy;
  font-weight: bold;
  text-transform: uppercase;
}

.todoCard p span{
text-align: center;
  padding: 1em;
  font-family: fantasy;
  font-weight: bold;
  font-size: 1.2em;
  /* margin-bottom: 2.6em; */
}
.pending{
  border: none;
  padding: 0.5rem 1.6rem;
 font-size: 1em;
 font-weight: bold;
 margin: 6px;
  border-radius: 5px;
  color: rgb(7, 97, 26);
  /* background-color: rgba(3, 95, 57, 0.897);  */
}
.delete{
  background-color: rgb(233, 44, 44);
}

.not{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
}
